.setCharacter {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-bottom: 2rem;
}
.characterList {
    display: flex;
    flex-wrap: wrap;
    width: 15rem;
    justify-content: center;

}
.choose {
    width: 5rem;
    margin-right: 2rem;
}
.character {
    list-style: none;
}
.nickname {
    display: flex;
}
.nickname_btn {
    width: 3rem;
}