.chat_box {
    margin-left: 2rem;
    background-color: blanchedalmond;
    padding: 1rem;
    width: 25rem;
    height: 100%;
    display: flex;
    flex-direction: column;
}
.message_list {
    list-style: none;
    padding-left: 0;
    padding-top: 0;
    overflow-y: scroll;
}

.message_form {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

}

.message {
    margin-top: 0.5rem;
    height: 1.5rem;
    border-bottom: 1px solid lightgray;
}